<!DOCTYPE html>
<html lang="id">
{% include head.html %}
<body class="bg-slate-50 text-slate-800 font-sans antialiased min-h-screen flex flex-col justify-between">
  {% include header.html %}

  <main class="pt-20 pb-16 flex-grow">
    <div class="max-w-7xl mx-auto px-6">
      {% if page.layout == 'home' %}
        <div class="w-full">
          {{ content }}
        </div>
      {% else %}
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
          <div class="lg:col-span-3">
            {{ content }}
          </div>
          <aside class="lg:col-span-1">
            {% include sidebar.html %}
          </aside>
        </div>
      {% endif %}
    </div>
  </main>

  {% include footer.html %}
</body>
</html>
